<script>
import InternationalPhoneInput from './international_phone_input.vue';

export default {
  name: 'PhoneVerification',
  components: {
    InternationalPhoneInput,
  },
};
</script>
<template>
  <international-phone-input />
</template>
